@model IEnumerable<BellaNapoli.Models.Prodotti>

@{
    ViewBag.Title = "Index";
}

<h2>Carrello</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prezzo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consegna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ingredienti)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prezzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consegna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredienti)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idProdotto }) |
                @Html.ActionLink("Details", "Details", new { id = item.idProdotto }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.idProdotto })
            </td>
        </tr>
    }

</table>

@using (Html.BeginForm("Ordina", "Carrello", FormMethod.Post))
{
    <div class="input-group">
        <span class="input-group-text">Note</span>
        <textarea id="note" name="note" required class="form-control" aria-label="With textarea"></textarea>
    </div>

    <div class="mb-3">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon3">Indirizzo</span>
            <input type="text" class="form-control" id="indirizzo" name="indirizzo" required aria-describedby="basic-addon3 basic-addon4">
        </div>
    </div>
    <input type="submit" value="Ordina" />
}