@model IEnumerable<BellaNapoli.Models.Ordini>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center heading mt-3 mb-0">Gestione ordini</h2>
<h6 class="text-center m-0 p-0 mb-2"> @Html.ActionLink("Passa a gestione utenti", "Index", "Utenti")</h6>

<div class="d-flex flex-column justify-content-center align-items-center">
    <div class="text-center">
        @Html.ActionLink("Ordini Evasi", "GetNumeroOrdini", new { }, new { @class = "btn btn-success rounded-1 my-2", style = "width: auto;", @onclick = "totalOrders(); return false;" })
        <p id="totalOrders" class="mt-2"></p>
    </div>

    <div class="text-center">
        <input type="date" id="date" class="form-control" style="width: auto; margin: 0 auto;" />
        <button class="btn btn-success mt-2" onclick="getRevenueForDay(document.getElementById('date').value)">Totale incassato</button>
        <p id="totPerGiorno" class="mt-2"></p>
    </div>
</div>

<div id="orderDetails"></div>

<div class="container mt-5">
    @foreach (var item in Model)
    {
        <div class="row mb-5 text-center mb-md-3 align-items-center border rounded bg-white shadow mx-4 mx-sm-0">
            <div class="col-12 text-center col-md-1 py-1 py-md-2">
                <span class="text-secondary">N.</span> @Html.DisplayFor(modelItem => item.idOrdine)
            </div>
            @{
                var dataOrdine = item.DataOrdine.Date;
                var oggi = DateTime.Today;
                var ieri = DateTime.Today.AddDays(-1);
            }
            <div class="col-12 text-center col-md-3 py-0 py-md-2">
                <span class="me-2">
                    @if (dataOrdine == oggi)
                    {
                        @:Oggi
                    }
                    else if (dataOrdine == ieri)
                    {
                        @:Ieri
                    }
                    else
                    {
                        @item.DataOrdine.ToString("dd/MM/yyyy")
                    }
                </span>
                <span>@item.DataOrdine.ToString("HH:mm")</span>
            </div>
            <div class="col-12 text-center col-md-3 py-0 py-md-2">
                @item.Utenti.Nome @item.Utenti.Cognome
            </div>
            <div class="col-12 text-center col-md-1 py-0 py-md-2">
                @Html.DisplayFor(modelItem => item.Totale)€
            </div>
            <div class="col-12 text-center col-md-1 py-0 py-md-2">
                @if (item.isEvaso == false)
                {
                    <span class="badge bg-danger">Non evaso</span>
                }
                else
                {
                    <span class="badge bg-success">Evaso</span>
                }
            </div>
            <div class="col-12 col-md-3 py-2  text-center text-md-end">
                @Html.ActionLink(" ", "Details", new { id = item.idOrdine }, new { @class = "bi bi-list btn btn-secondary rounded-1 ms-2 w-25", @onclick = "loadOrderDetails(" + item.idOrdine + "); return false;" })
                @if (item.isEvaso == false)
                {
                    @Html.ActionLink(" ", "isEvaso", new { id = item.idOrdine }, new { @class = "bi bi-arrow-bar-right btn btn-success rounded-1 w-25" })
                }
                else
                {
                    @Html.ActionLink(" ", "noEvaso", new { id = item.idOrdine }, new { @class = "bi bi-x-lg btn btn-warning rounded-1 w-25" })
                }
            </div>
        </div>
    }
</div>



<script>

function getRevenueForDay(date) {
    if (!date) {
        $('#totPerGiorno').text('Selezionare una data valida');
        return;
    }
    $.ajax({
        url: '@Url.Action("IncassatoPerGiorno", "Ordini")',
        type: 'GET',
        data: { data: date },
        success: function (data) {
            $('#totPerGiorno').text('Incasso per il giorno ' + date + ': ' + data + '€');
        },
        error: function (jqXHR) {
            if(jqXHR.status==500){
                $('#totPerGiorno').text('Nessun incasso per la data selezionata');
            }
        }
    });
}


    function totalOrders() {
    $.ajax({
        url: '@Url.Action("GetNumeroOrdini", "Ordini")',
        type: 'GET',
        success: function (data) {
            $('#totalOrders').text('Ordini totali evasi: ' + data);
        },
        error: function () {
            $('#totalOrders').text('Errore');
        }
    });
}

    function loadOrderDetails(orderId) {
        $.get('@Url.Action("Details", "Ordini")', { id: orderId }, function (data) {
            $('#orderDetails').html(data);
        });
    }
</script>
